<configuration>
<system.webServer>
<rewrite>
    <rules>
        <rule name="Angular Routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="/" />
        </rule>
        <rule name="Subdomain Routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^(.*)\.produtos\.app" negate="true" />
            <add input="{PATH_INFO}" pattern="^(.*)$ /%1/$1" negate="true" />
            </conditions>
            <action type="Rewrite" url="\%1\{R:0}" />
        </rule>
    </rules>
</rewrite>
</system.webServer>
</configuration>