main.mobile nav {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    background: var(--primary);
    height: 3em;
    align-items: center;
    justify-items: center;
    margin: 0 0 5em;
}
main.mobile nav div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main.mobile nav a {
    color: var(--secondary);
    transition: 300ms;
}
main.mobile nav .isActive {
    border-bottom: 5px solid white;
}
main.mobile nav .isActive a {
    font-weight: 600;
    color: white;
    transition: 300ms;
    text-decoration: none;
}
main.mobile nav a:focus,
main.mobile nav a:hover {
    transition: 300ms;
    color: white;
    text-decoration: none;
}