<div class="form-signin">
  <div class="label-float">
    <input type="text" [(ngModel)]="address.name" [class.invalid]="error.name" placeholder=" " (keyup.enter)="focus()" />
    <label>Identifique esse endereço</label>
  </div>
  <div class="text-danger fade mt-1 text-right" [class.show]="error.name">É obrigatório informar um nome para este endereço!</div>
  <div class="label-float">
    <input type="text" [(ngModel)]="address.street" [class.invalid]="error.street" id="street" placeholder=" " (keyup.enter)="focus('number')" autofocus />
    <label>Rua, Avenida, Núcleo, etc.</label>
  </div>
  <div class="text-danger fade mt-1 text-right" [class.show]="error.street">É obrigatório o logradouro do endereço!</div>
  <div class="label-float">
    <input id="number" type="text" [(ngModel)]="address.number" [class.invalid]="error.number" placeholder=" " (keyup.enter)="focus('district')" />
    <label>Número da residência</label>
  </div>
  <div class="text-danger fade mt-1 text-right" [class.show]="error.number">É obrigatório informa o número, caso não tenha bote S/N</div>
  <div class="label-float">
    <input type="text" [(ngModel)]="address.district" id="district" [class.invalid]="error.district" placeholder=" " (keyup.enter)="focus('complement')" />
    <label>Bairro</label>
  </div>
  <div class="text-danger fade mt-1 text-right" [class.show]="error.district">É obrigatório informar o Bairro</div>
  <div class="label-float">
    <input type="password" [(ngModel)]="address.cadPassword2" id="complement" [class.invalid]="error.cadPassword2" placeholder=" " (keyup.enter)="save()" />
    <label>Repetir senha</label>
  </div>
  <div class="text-danger fade mt-1 text-right" [class.show]="error.cadPassword2">A senha deve ser igual à primeira!</div>
  <button type="button" class="btn btn-theme btn-block mt-4" (click)="save()">
    <div>
      <i-save class="fade" [class.show]="!loading.register"></i-save>
      <i-loading class="fade" [class.show]="loading.register"></i-loading>
    </div>
    Salvar
  </button>
  <button type="button" class="btn btn-outline-danger btn-block" (click)="clear()"><i-slash></i-slash>Limpar</button>
</div>
