<main>
  <div class="form-signin">
    <div class="label-float">
      <input type="text" [(ngModel)]="address.street" [class.invalid]="error.street" id="street" placeholder=" " (keyup.enter)="focus('number')" autofocus />
      <label>Rua, Avenida, Núcleo, etc.</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="error.street">É obrigatório o nome da rua!</div>
    <div class="label-float">
      <input id="number" type="text" [(ngModel)]="address.number" [class.invalid]="error.number" placeholder=" " (keyup.enter)="focus('district')" />
      <label>Número da residência</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="error.number">É obrigatório informa o número, caso não tenha digite S/N</div>
    <div class="label-float">
      <input type="text" [(ngModel)]="address.district" id="district" [class.invalid]="error.district" placeholder=" " (keyup.enter)="focus('complement')" />
      <label>Bairro</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="error.district">É obrigatório informar o Bairro</div>
    <div class="label-float">
      <input type="text" [(ngModel)]="address.complement" id="complement" placeholder=" " (keyup.enter)="focus('reference')" />
      <label>Complemento (opcional)</label>
    </div>
    <div class="label-float">
      <input type="text" [(ngModel)]="address.reference" placeholder=" " id="reference" (keyup.enter)="focus('city')" />
      <label>Ponto de referência (opcional)</label>
    </div>
    <div class="label-float">
      <input type="text" [(ngModel)]="address.city" id="city" [class.invalid]="error.city" placeholder=" " (keyup.enter)="focus('state')" />
      <label>Cidade</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="error.city">É obrigatório informar uma cidade!</div>
    <div class="label-float">
      <input type="text" [(ngModel)]="address.state" id="state" [class.invalid]="error.state" placeholder=" " (keyup.enter)="focus('zipCode')" />
      <label>Estado</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="error.state">É obrigatório informar um estado!</div>
    <div class="label-float">
      <input type="number" [(ngModel)]="address.zipCode" id="zipCode" [class.invalid]="error.zipCode" placeholder=" " (keyup.enter)="focus('name')" />
      <label>CEP</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="error.zipCode">É obrigatório informar um CEP!</div>
    <div class="label-float">
      <input type="text" [(ngModel)]="address.name" id="name" [class.invalid]="error.name" placeholder=" " (keyup.enter)="save()" />
      <label>Identifique esse endereço</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="error.name">É obrigatório informar um nome para este endereço!</div>
    <button type="button" class="btn btn-theme btn-block mt-4" (click)="save()">
      <div>
        <i-save class="fade" [class.show]="!loading"></i-save>
        <i-loading class="fade" [class.show]="loading"></i-loading>
      </div>
      Salvar
    </button>
    <button type="button" class="btn btn-outline-danger btn-block" (click)="clear()"><i-slash></i-slash>Limpar</button>
  </div>
</main>
