main {
    padding: 1em;
    color: var(--primary);
    max-width: 700px;
    margin: auto;
    min-height: 100vh;
}
@media (min-width: 950px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5vw;
        max-width: 1000px;
        align-items: center;
    }
}
.items.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    border-radius: 0.5em;
    border-color: var(--dark);
    box-shadow: inset 0px 5px var(--primary);
}
/* .items.card .card-header.body-expanded {
    height: 3em;
    transition: 300ms;
} */
.card-header {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    color: var(--secondary);
    background: var(--primary);
    transition: all 500ms;
}
.header-collapsed {
    border-radius: 0.5em;
    height: 3em;
}
.items.card > .card-body.colappsing {
    transition: 100ms;
}
.items.card > .card-body,
.card-logged .collapse.show {
    transition: all 500ms;
    padding: 0;
    margin-top: -1em;
}
.card-footer {
    border-radius: 0.5em;
    background: white;
}
.collapse.show.card-body .card {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 1em;
    padding: 0.5em;
}
.card.empty-cart {
    grid-template: 5fr 1fr / 1fr;
    padding-top: 1em !important;
    background: linear-gradient(
        var(--secondary),
        white
    );
    border: 0;
}
.card.empty-cart img {
    max-width: 300px;
}
.card {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    text-align: center;
    border-radius: 0.5em;
}
.card img {
    width: 100%;
    padding: 0.25em;
    margin: auto;
}
.card-body * {
    padding: 0;
    margin: 0;
}
.card-title {
    color: var(--dark);
}
.card-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.card-actions * {
    cursor: pointer;
    transition: 500ms;
}
.card-actions .delete {
    color: tomato;
}
.card-actions .delete:hover,
.card-actions .delete:hover {
    color: darkred;
    transition: 500ms;
}
.card-actions *:hover,
.card-actions *:hover {
    color: var(--dark);
    transition: 500ms;
}
.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.card-logged {
    text-align: center;
    display: flex;
    border-radius: 0.5em;
    max-width: 500px;
    flex-grow: 1;
    border: 1px solid var(--primary);
}
.card-logged .btn-block {
    height: 2.5em;
}
.card-logged .card-header {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background: var(--primary);
}
.card-logged .card-title {
    color: var(--secondary);
}
.card-empty {
    padding: 0 15% !important;
    margin: auto;
    background: linear-gradient(var(--secondary), white);
    box-shadow: 0 1.5em white;
    border-radius: 0.5em;
}
.card-empty * {
    max-height: 10em;
}
.card-logged .card-body {
    padding: 1em;
    box-shadow: 0 -0.5px rgba(0, 0, 0, 0.25), 0 1.5em white;
    display: grid;
    grid-template-columns: 6fr 1fr;
    text-align: left;
    vertical-align: middle;
    color: var(--primary);
    gap: 0.5em;
    border-radius: 0.5em;
    background: linear-gradient(var(--secondary), white);
}
.card-logged .card-body .actions {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.5em;
    text-align: center;
}
.card-logged .card-body .actions svg {
    height: 5em;
}
.shadow-0 {
    box-shadow: 0 -0.5px rgba(0, 0, 0, 0.25) !important;
    border-radius: 0.5em;
}
.selected {
    stroke: var(--dark);
    border: 2px solid var(--dark) !important;
}
.payments {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
}
.payments div {
    border: 1px solid;
    padding: 0.25em 1em;
    margin: 0.25em 0;
    border-radius: 0.25em;
}
.chk input {
    display: none;
}
.chk label {
    cursor: pointer;
    font-size: 0.75em;
    margin-right: 0.5em;
}
.chk input[type="radio"] + label:before, .chk input[type="checkbox"] + label:before {
    border: 1px solid #5D5C5C;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 20px;
    margin: 0 .25em 0 0;
    padding:0;
    vertical-align: top;
    width: 20px;
    border-radius: 4px;
}
.chk input[type="radio"]:checked + label:before, .chk input[type="checkbox"]:checked + label:before {
    border: 1px solid var(--primary);
    background: var(--secondary);
    color: var(--primary);
    content: "\2713";
    text-align: center;
    font-weight: bold;
    font-size: large;
}
textarea {
    font-size: 0.75em;
    border-color: var(--dark);
    border-radius: 0.25em;
    width: 100%;
}
textarea:focus {
    outline-color: var(--primary);
}
.qtt-and-value {
    text-align: center;
    vertical-align: bottom;
    color: var(--primary);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    min-width: 20px;
    max-width: 35px;
    text-align: center;
    font-size: small;
}
.qtt-and-value .input-group {
    justify-content: center;
}
.qtt-and-value input {
    border: 1px solid var(--primary);
    text-align: center;
    max-width: 5em;
}
.qtt-and-value input:focus {
    border: 2px solid var(--primary);
}
.out-of-range {
    text-decoration: line-through;
    font-size: 75%;
}
.btn.disabled {
    opacity: 1;
    background: var(--secondary);
    text-decoration: line-through;
}
.border-dark {
    border-color: var(--dark);
    border-bottom: 0;
}
.invalid {
    border: 5px solid tomato;
}
h5 .text-danger.show {
    background: var(--secondary);
}
.text-danger.show {
    color: tomato;
    margin: 0.5em;
    padding: 0.5em;
    width: auto;
    height: auto;
    border-radius: 0.5em;
    font-weight: 500;
}
i-loading:not(.show),
i-check-circle.fade:not(.show),
.text-danger:not(.show) {
    width: 0;
    height: 0;
    display: none;
}
