<div id="body">
  <main *ngIf="order">
    <div class="card resume">
      <div class="card-header">
        <h5>Pedido N° {{order.cod}}</h5>
      </div>
      <div class="card-body">
        <div class="images">
          <img src="{{order.client.avatar}}" class="rounded-circle avatar" alt="Foto do cliente">
          <i-shopping-bag></i-shopping-bag>
          <img src="{{order.store.logo}}" class="rounded-circle avatar" alt="Logotipo da empresa">
        </div>
        <div class="dados">
          <div>Cliente: </div>
          <div class="left">{{order.client.name}}</div>
          <div>Empresa: </div>
          <div class="left">{{order.store.title}}</div>
          <div>Quantidade: </div>
          <div class="left">{{order.products.length + (order.products.length === 1 ? ' Item' : ' Itens')}}</div>
          <div>Total: </div>
          <div class="left">{{formatPrice(order.total)}}</div>
          <div>Pagamento: </div>
          <div class="left">
            <app-insert-icon [icon]="order.payment.icon"></app-insert-icon> - {{order.payment.name}}
          </div>
        </div>
      </div>
    </div>
    <div class="card status">
      <div class="card-header" [class.header-collapsed]="!isExpanded['status']">
        <h5>
          Resumo
          <span class="pointer" data-toggle="collapse" data-target="#status" role="button" aria-expanded="true"
            aria-controls="status" (click)="isExpanded['status'] = !isExpanded['status']">
            <i-chevron-down [hidden]="isExpanded['status']"></i-chevron-down>
            <i-chevron-up [hidden]="!isExpanded['status']"></i-chevron-up>
          </span>
        </h5>
      </div>
      <div class="card-body collapse show" id="status">
        <div *ngIf="order.status === 0">
          <undraw-order-received></undraw-order-received>
          <h6>A empresa recebeu o pedido de compra! <span class="badge badge-pill badge-theme px-2 py-1">{{order.date[order.status] | date : 'short' }}</span></h6>
        </div>
        <div *ngIf="order.status === 1">
          <undraw-separation></undraw-separation>
          <h6>O pedido está sendo preparado! <span class="badge badge-pill badge-theme px-2 py-1">{{order.date[order.status] | date : 'short' }}</span></h6>
        </div>
        <div *ngIf="order.status === 2">
          <undraw-delivery></undraw-delivery>
          <h6>O pedido saiu para entrega! <span class="badge badge-pill badge-theme px-2 py-1">{{order.date[order.status] | date : 'short' }}</span></h6>
        </div>
        <div *ngIf="order.status === 3">
          <undraw-success></undraw-success>
          <h6>O pedido foi entregue! <span class="badge badge-pill badge-theme px-2 py-1">{{order.date[order.status] | date : 'short' }}</span></h6>
        </div>
        <!-- TODO: more two status -->
      </div>
    </div>
    <div class="card map">
      <div class="card-header">
        <h5>
          Endereço da entrega
          <span class="pointer" data-toggle="collapse" data-target="#address" role="button" aria-expanded="true"
            aria-controls="map" (click)="isExpanded['address'] = !isExpanded['address']">
            <i-chevron-down [hidden]="isExpanded['address']"></i-chevron-down>
            <i-chevron-up [hidden]="!isExpanded['address']"></i-chevron-up>
          </span>
        </h5>
      </div>
      <div class="card-body collapse show" id="address">
        <undraw-map></undraw-map>
        <h6>{{read(order.address)}}</h6>
      </div>
      <div class="card-footer">
        <button class="btn btn-theme btn-block" (click)="getRoute()"><i-map></i-map>Como Chegar</button>
      </div>
    </div>
    <div class="items card">
      <div class="card-header" [class.header-collapsed]="!isExpanded['itens']">
        <h5>
          Itens
          <span class="pointer" data-toggle="collapse" data-target=".itens" role="button" aria-expanded="true"
            aria-controls="itens" (click)="isExpanded['itens'] = !isExpanded['itens']">
            <i-chevron-down [hidden]="isExpanded['itens']"></i-chevron-down>
            <i-chevron-up [hidden]="!isExpanded['itens']"></i-chevron-up>
          </span>
        </h5>
      </div>
      <div class="card-body collapse show itens">
        <div class="card mt-2" *ngFor="let item of order.products; index as i">
          <img src="{{item.img}}" alt="Miniatura do Produto">
          <div class="card-body">
            <h6 class="card-title">{{item.name}}</h6>
            <p>{{item.size}}</p>
            <p>Quantidade: {{item.quantity}}</p>
            <p>Total: {{formatPrice(item.total)}}</p>
            <div class="collapse" [id]="'more-' + i" [innerHtml]="safeHtml[i]"></div>
          </div>
          <div class="card-actions">
            <span data-toggle="collapse" [attr.data-target]="'#more-' + i" role="button" aria-expanded="false"
              [attr.aria-controls]="'more-' + i" (click)="isExpanded[i] = !isExpanded[i]">
              <i-chevron-down [hidden]="isExpanded[i]"></i-chevron-down>
              <i-chevron-up [hidden]="!isExpanded[i]"></i-chevron-up>
            </span>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div *ngIf="!order && user" class="empty-cart">
    <undraw-confused></undraw-confused>
    <h3 class="text-theme">O pedido não foi encontrado...</h3>
    <a class="btn-theme btn-block btn" routerLink="/">
      <i-home></i-home>Voltar a página inicial?
    </a>
  </div>
</div>