.fade:not(.show) {
    display: none;
}
.blue {
    color: #215C96;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10em 2em;
}
footer .card {
    border-radius: 0.5em;
}
footer a {
    background: white;
    color: #215c96;
    transition: 300ms;
    padding: 1.5em;
    border-radius: 0.5em;
}
footer a:hover {
    transition: 300ms;
    text-decoration: none;
    box-shadow: 3px 3px 2px 2px rgba(100, 100, 100, 0.25);
}
.fill {
    fill: #215C96;
    stroke: #CCE5FF;
}
.logo {
    width: 80%;
    max-width: 300px;
    margin-top: 2em;
}
