<div class="fade" [class.show]="!loading && !landing">
    <app-navigation></app-navigation>
    <router-outlet></router-outlet>
</div>
<footer>
    <div class="card text-center">
        <a href="https://www.produtos.app">
            Desenvolvido com <i-heart class="fill"></i-heart> por: <br>
            <img src="assets/banner.svg" class="logo" alt="Logotipo do portal produtos.app">
        </a>
    </div>
    <div class="blue fade my-3" [class.show]="loading">
        <i-loading></i-loading>
        Carregando...
    </div>
</footer>
<app-landing-page *ngIf="!landing && url"></app-landing-page>