.accent {
    fill: var(--accent);
}
svg {
    width: 100%;
    height: auto;
    max-height: 300px;
}
.w-75 {
    width: 50% !important;
}
@media (max-width: 350px) {
    .w-75 {
        width: 75% !important;
    }   
}