<div class="mobile">
  <nav class="navbar sticky-top">
    <a routerLink="/produtos">
      <i-chevron-left></i-chevron-left>
      voltar
    </a>
    <span>{{product?.name}}</span>
    <a routerLink="/produtos" [queryParams]="{categoria: product?.category}" class="badge badge-pill badge-theme-light">{{product?.category}}</a>
  </nav>
  <main *ngIf="!product" class="text-center">
    <undraw-confused class="product-img"></undraw-confused>
    <h6 class="my-5">Produto não encontrado</h6>
    <a class="btn btn-theme mx-auto w-100" routerLink="/produtos">
      Continuar Comprando
    </a>
  </main>
  <main *ngIf="product">
    <img src="{{product.imgs[0]}}" alt="Imagem do produto" class="product-img">
    <div *ngIf="product.sizes.length > 1" class="card">
      <h5>Quero o {{product.unity}}:</h5>
      <div class="chk" *ngFor="let size of product.sizes">
        <input type="radio" [id]="size.name" [(ngModel)]="selectedSize" [value]="size">
        <label [for]="size.name">{{size.name}}</label>
        <label [for]="size.name" class="badge-pill badge badge-theme">{{formatPrice(size.value)}}</label>
      </div>
    </div>
    <div *ngIf="product.optional.length != 0" class="card">
      <h5>Quero retirar:</h5>
      <div class="chk" *ngFor="let option of product.optional; let i=index">
        <input type="checkbox" [id]="option" [(ngModel)]="optional[option]">
        <label [for]="option">{{option}}</label>
      </div>
    </div>
    <div *ngIf="extras.length != 0" class="card">
      <h5>Quero adicionar:</h5>
      <div class="chk" *ngFor="let extra of extras">
        <input type="checkbox" [id]="extra.name" [(ngModel)]="extra.checked">
        <label [for]="extra.name">{{extra.name}}</label>
        <label [for]="extra.name" class="badge-pill badge badge-theme">{{formatPrice(extra.value)}}</label>
      </div>
    </div>
    <div class="card">
      <h5>Observações</h5>
      <textarea [(ngModel)]="observations" id="" cols="30" rows="3"></textarea>
    </div>
    <div class="card qtt-and-value">
      <div class="qtt">
        <h6>Quantidade</h6>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <button class="btn btn-sm btn-theme" (click)="changeQuantity('minus')">-</button>
          </div>
          <input type="number" class="form-control" [(ngModel)]="quantity" (change)="changeQuantity()" min="0">
          <div class="input-group-append">
            <button class="btn btn-sm btn-theme" (click)="changeQuantity('add')">+</button>
          </div>
        </div>
      </div>
      <div class="value">
        <h6>Valor</h6>
        <h6>{{getPrice()}}</h6>
      </div>
    </div>
    <button class="btn btn-theme mx-auto w-100" (click)="buy()">
      Adicionar ao Pedido
    </button>
  </main>
</div>
<div class="desktop">
  <main class="card" *ngIf="product">
    <div class="back-and-img">
      <div>
        <a routerLink="/produtos" class="btn btn-theme">
          <i-chevron-left></i-chevron-left>
          voltar
        </a>
        <span>{{product.name}}</span>
        <a routerLink="/produtos" [queryParams]="{categoria: product.category}" class="badge badge-pill badge-theme">{{product.category}}</a>
      </div>
      <img src="{{product.imgs[0]}}" alt="" class="product-img">
    </div>
    <div class="buy-options">
      <div *ngIf="product.sizes.length > 1">
        <h5>Quero o {{product.unity}}:</h5>
        <div class="chk" *ngFor="let size of product.sizes">
          <input type="radio" id="{{size.name}}-desktop" [(ngModel)]="selectedSize" [value]="size">
          <label for="{{size.name}}-desktop">{{size.name}}</label>
          <label for="{{size.name}}-desktop" class="badge-pill badge badge-theme">{{formatPrice(size.value)}}</label>
        </div>
      </div>
      <div *ngIf="product.optional.length != 0">
        <h5>Quero retirar</h5>
        <div class="chk" *ngFor="let option of product.optional; let i=index">
          <input type="checkbox" id="{{option}}-desktop" [(ngModel)]="optional[option]">
          <label for="{{option}}-desktop">{{option}}</label>
        </div>
      </div>
      <div *ngIf="product.extras.length != 0">
        <h5>Quero adicionar</h5>
        <div class="chk" *ngFor="let extra of extras">
          <input type="checkbox" id="{{extra.name}}-desktop" [(ngModel)]="extra.checked">
          <label for="{{extra.name}}-desktop">{{extra.name}}</label>
          <label for="{{extra.name}}-desktop" class="badge-pill badge badge-theme">{{formatPrice(extra.value)}}</label>
        </div>
      </div>
      <div>
        <h5>Observações</h5>
        <textarea [(ngModel)]="observations" id="" cols="30" rows="3"></textarea>
      </div>
      <div class="qtt-and-value">
        <div class="qtt">
          <h6>Quantidade</h6>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <button class="btn btn-sm btn-theme" (click)="changeQuantity('minus')">-</button>
            </div>
            <input type="number" class="form-control" [(ngModel)]="quantity" (change)="changeQuantity()" min="0">
            <div class="input-group-append">
              <button class="btn btn-sm btn-theme" (click)="changeQuantity('add')">+</button>
            </div>
          </div>
        </div>
        <div class="value">
          <h6>Valor</h6>
          <h6>{{getPrice()}}</h6>
        </div>
      </div>
      <button class="btn btn-theme mx-auto w-100" (click)="buy()">
        Adicionar ao Pedido
      </button>
    </div>
  </main>
  <main class="card" *ngIf="!product">
    <div class="back-and-img">
      <undraw-confused></undraw-confused>
    </div>
    <div class="buy-options text-center my-auto">
      <div>
        <h5>Produto não encontrado</h5>
      </div>
      <button class="btn btn-theme mx-auto w-100" (click)="buy()">
        Continuar Comprando
      </button>
    </div>
  </main>
</div>

