<div class="mobile">
  <nav class="navbar sticky-top">
    <a routerLink="/produtos">
      <i-chevron-left></i-chevron-left>
      voltar
    </a>
    <span>{{product?.name}}</span>
    <a *ngIf="product?.categories.length == 1" routerLink="/produtos" [queryParams]="{categoria: product.categories[0].name}">
      <app-insert-icon [icon]="product.categories[0].icon"></app-insert-icon>
    </a>
    <div class="dropdown" *ngIf="product?.categories.length > 1">
      <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i-more-vertical></i-more-vertical>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <h6 class="dropdown-header">Categorias</h6>
        <a *ngFor="let cat of product.categories" routerLink="/produtos" [queryParams]="{categoria: cat.name}" class="dropdown-item">
            <app-insert-icon mini="true" [icon]="cat.icon"></app-insert-icon>
            <span>{{cat.name}}</span>
        </a>
      </div>
    </div>
  </nav>
  <main *ngIf="!product" class="text-center">
    <undraw-confused class="product-img"></undraw-confused>
    <h6 class="my-5">Produto não encontrado</h6>
    <a class="btn btn-theme mx-auto w-100" routerLink="/produtos">
      Continuar Comprando
    </a>
  </main>
  <main *ngIf="product">
    <img src="{{product.imgs[0]}}" alt="Imagem do produto" class="product-img">
    <div class="alert alert-warning" *ngIf="!product.active">😕 Este produto não está disponível no momento!</div>
    <div *ngIf="product.sizes.length == 1" class="card">
      <h5>{{product.unity}} {{product.sizes[0].name}}</h5>
    </div>
    <div *ngIf="product.sizes.length > 1" class="card">
      <h5>Quero o {{product.unity}}:</h5>
      <div class="chk" *ngFor="let size of product.sizes">
        <input type="radio" [id]="size.name" [(ngModel)]="selectedSize" [value]="size">
        <label [for]="size.name">{{size.name}}</label>
        <label [for]="size.name" class="badge-pill badge badge-theme">{{formatPrice(size.value)}}</label>
      </div>
    </div>
    <div *ngIf="product.optional.length != 0" class="card">
      <h5>Quero retirar:</h5>
      <div class="chk" *ngFor="let option of product.optional; let i=index">
        <input type="checkbox" [id]="option" [(ngModel)]="optional[option]" [disabled]="!product.active">
        <label [for]="option">{{option}}</label>
      </div>
    </div>
    <div *ngIf="extras.length != 0" class="card">
      <h5>Quero adicionar:</h5>
      <div class="chk" *ngFor="let extra of extras">
        <input type="checkbox" [id]="extra.name" [(ngModel)]="extra.checked" [disabled]="!product.active">
        <label [for]="extra.name">{{extra.name}}</label>
        <label [for]="extra.name" class="badge-pill badge badge-theme">{{formatPrice(extra.value)}}</label>
      </div>
    </div>
    <div class="card">
      <h5>Observações</h5>
      <textarea [(ngModel)]="observations" id="" cols="30" rows="3" [disabled]="!product.active"></textarea>
    </div>
    <div class="card qtt-and-value">
      <div class="qtt">
        <h6>Quantidade</h6>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <button class="btn btn-sm btn-theme" (click)="changeQuantity('minus')" [disabled]="!product.active">-</button>
          </div>
          <input type="number" class="form-control" [(ngModel)]="quantity" (change)="changeQuantity()" min="0" [disabled]="!product.active">
          <div class="input-group-append">
            <button class="btn btn-sm btn-theme" (click)="changeQuantity('add')" [disabled]="!product.active">+</button>
          </div>
        </div>
      </div>
      <div class="value">
        <h6>Valor</h6>
        <h6>{{getPrice()}}</h6>
      </div>
    </div>
    <button class="btn btn-theme mx-auto w-100" (click)="buy()" [disabled]="!product.active">
      Adicionar ao Pedido
    </button>
  </main>
</div>
<div class="desktop">
  <main class="card" *ngIf="product">
    <div class="back-and-img">
      <div class="mb-2">
        <a routerLink="/produtos" class="btn btn-theme">
          <i-chevron-left></i-chevron-left>
          voltar
        </a>
        <span>{{product.name}}</span>
        <a *ngIf="product.categories.length == 1" routerLink="/produtos" [queryParams]="{categoria: product.categories[0].name}" class="btn btn-theme btn-sm">
          <app-insert-icon [icon]="product.categories[0].icon"></app-insert-icon>
        </a>
        <div class="dropdown" *ngIf="product.categories.length > 1" >
          <button class="btn btn-theme btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i-more-vertical></i-more-vertical>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <h6 class="dropdown-header">Categorias</h6>
            <a *ngFor="let cat of product.categories" routerLink="/produtos" [queryParams]="{categoria: cat.name}" class="dropdown-item">
              <app-insert-icon [icon]="cat.icon"></app-insert-icon>
              <span>{{cat.name}}</span>
            </a>
          </div>
        </div>
      </div>
      <img src="{{product.imgs[0]}}" alt="" class="product-img">
    </div>
    <div class="buy-options">
      <div class="alert alert-warning" *ngIf="!product.active">😕 Este produto não está disponível no momento!</div>
      <div *ngIf="product.sizes.length == 1">
        <h5>{{product.unity}} {{product.sizes[0].name}}</h5>
      </div>
      <div *ngIf="product.sizes.length > 1">
        <h5>Quero o {{product.unity}}:</h5>
        <div class="chk" *ngFor="let size of product.sizes">
          <input type="radio" id="{{size.name}}-desktop" [(ngModel)]="selectedSize" [value]="size" [disabled]="!product.active">
          <label for="{{size.name}}-desktop">{{size.name}}</label>
          <label for="{{size.name}}-desktop" class="badge-pill badge badge-theme">{{formatPrice(size.value)}}</label>
        </div>
      </div>
      <div *ngIf="product.optional.length != 0">
        <h5>Quero retirar</h5>
        <div class="chk" *ngFor="let option of product.optional; let i=index">
          <input type="checkbox" id="{{option}}-desktop" [(ngModel)]="optional[option]" [disabled]="!product.active">
          <label for="{{option}}-desktop">{{option}}</label>
        </div>
      </div>
      <div *ngIf="product.extras.length != 0">
        <h5>Quero adicionar</h5>
        <div class="chk" *ngFor="let extra of extras">
          <input type="checkbox" id="{{extra.name}}-desktop" [(ngModel)]="extra.checked" [disabled]="!product.active">
          <label for="{{extra.name}}-desktop">{{extra.name}}</label>
          <label for="{{extra.name}}-desktop" class="badge-pill badge badge-theme">{{formatPrice(extra.value)}}</label>
        </div>
      </div>
      <div>
        <h5>Observações</h5>
        <textarea [(ngModel)]="observations" id="" cols="30" rows="3" [disabled]="!product.active"></textarea>
      </div>
      <div class="qtt-and-value">
        <div class="qtt">
          <h6>Quantidade</h6>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <button class="btn btn-sm btn-theme" (click)="changeQuantity('minus')" [disabled]="!product.active">-</button>
            </div>
            <input type="number" class="form-control" [(ngModel)]="quantity" (change)="changeQuantity()" min="0" [disabled]="!product.active">
            <div class="input-group-append">
              <button class="btn btn-sm btn-theme" (click)="changeQuantity('add')" [disabled]="!product.active">+</button>
            </div>
          </div>
        </div>
        <div class="value">
          <h6>Valor</h6>
          <h6>{{getPrice()}}</h6>
        </div>
      </div>
      <button class="btn btn-theme mx-auto w-100" (click)="buy()" [disabled]="!product.active">
        Adicionar ao Pedido
      </button>
    </div>
  </main>
  <main class="card" *ngIf="!product">
    <div class="back-and-img">
      <undraw-confused></undraw-confused>
    </div>
    <div class="buy-options text-center my-auto">
      <div>
        <h5>Produto não encontrado</h5>
      </div>
      <button class="btn btn-theme mx-auto w-100" (click)="buy()">
        Continuar Comprando
      </button>
    </div>
  </main>
</div>
