@media (max-width: 949px) {
    .desktop {
        display: none;
    }
}
@media (min-width: 950px) {
    .mobile {
        display: none;
    }
}
.navbar.sticky-top {
    background: var(--primary);
    color: white !important;
    margin: 0 auto;
    border-bottom-left-radius: 2em;
    justify-content: space-between;
}
.navbar a {
    color: white;
}
.mobile .product-img {
    width: 100%;
    height: auto;
    border-radius: 1em;
    padding: 0.5em;
    max-width: 400px;
    background: white;
    margin: 1em auto;
}
.mobile main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 80vw;
    min-height: 80vh;
    margin: 2em auto 7em;
    gap: 1em;
    color: var(--dark);
}
.mobile main .card {
    padding: 1em;
    border-radius: 1em;
}
.chk input {
    display: none;
}
.chk label {
    cursor: pointer;
    font-size: 0.75em;
    margin-right: 0.5em;
}
.chk input[type="radio"] + label:before, .chk input[type="checkbox"] + label:before {
    border: 1px solid #5D5C5C;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 20px;
    margin: 0 .25em 0 0;
    padding:0;
    vertical-align: top;
    width: 20px;
    border-radius: 4px;
}
.chk input[type="radio"]:checked + label:before, .chk input[type="checkbox"]:checked + label:before {
    border: 1px solid var(--primary);
    background: var(--secondary);
    color: var(--primary);
    content: "\2713";
    text-align: center;
    font-weight: bold;
    font-size: large;
}
textarea {
    font-size: 0.75em;
    border-color: var(--dark);
    border-radius: 0.25em;
    width: 100%;
}
textarea:focus {
    outline-color: var(--primary);
}
.qtt-and-value {
    text-align: center;
    vertical-align: bottom;
    color: var(--primary);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    min-width: 20px;
    max-width: 35px;
    text-align: center;
    font-size: small;
}
.qtt-and-value .input-group {
    justify-content: center;
}
.qtt-and-value input {
    border: 1px solid var(--primary);
    text-align: center;
    max-width: 5em;
}
.qtt-and-value input:focus {
    border: 2px solid var(--primary);
}
.btn-theme {
    background: var(--primary);
    color: var(--secondary) !important;
    border-radius: 2em;
    max-width: 400px;
}
.btn-theme:focus,
.btn-theme:hover {
    background: var(--dark);
    color: var(--white);
}
.desktop main {
    padding: 1em;
    margin: 5em auto;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    border-radius: 1em;
    max-width: 1100px;
}
.back-and-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back-and-img > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.back-and-img a {
    padding: 0.25em 0.5em;
}
.back-and-img span {
    font-size: 1.5em;
    color: var(--dark);
    vertical-align: middle;
}
.back-and-img img {
    margin-top: 1em;
    width: 100%;
    height: auto;
    border-radius: 1em;
    max-width: 500px;
    margin: auto;
}
.buy-options {
    padding: 1em 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--dark);
    max-width: 500px;
}