<div class="btn-toolbar btn-group-toggle btn-group mt-5 pt-5" id="categorias" style="justify-content: center; margin-bottom: 10em">
  <label class="btn btn-theme" (click)="setActive('green')">
    <input type="radio">Verde
  </label>
  <label class="btn btn-theme" (click)="setActive('blue')">
    <input type="radio">Azul
  </label>
  <label class="btn btn-theme" (click)="setActive('cyan')">
    <input type="radio">Azul Claro
  </label>
  <label class="btn btn-theme" (click)="setActive('brown')">
    <input type="radio">Marrom
  </label>
  <label class="btn btn-theme" (click)="setActive('red')">
    <input type="radio">Vermelho
  </label>
  <label class="btn btn-theme" (click)="setActive('pink')">
    <input type="radio">Rosa
  </label>
  <label class="btn btn-theme" (click)="setActive('violet')">
    <input type="radio">Violeta
  </label>
  <label class="btn btn-theme" (click)="setActive('purple')">
    <input type="radio">Roxo
  </label>
  <label class="btn btn-theme" (click)="setActive('orange')">
    <input type="radio">Laranja
  </label>
  <label class="btn btn-theme" (click)="setActive('gray')">
    <input type="radio">Cinza
  </label>
</div>
<div class="btn-toolbar btn-group-toggle btn-group mt-5 pt-5" id="categorias" style="justify-content: center; margin-bottom: 10em">
  <label class="btn btn-theme" (click)="setStore('copac')">
    <input type="radio">Supermercado Copac
  </label>
  <label class="btn btn-theme" (click)="setStore('nick')">
    <input type="radio">Doçuras da Nick
  </label>
  <label class="btn btn-theme" (click)="setStore('exemplo')">
    <input type="radio">Loja de Exemplo
  </label>
</div>
