<div class="btn-toolbar btn-group-toggle btn-group mt-5 pt-5" id="categorias" style="justify-content: center; margin-bottom: 10em">
  <label class="btn btn-theme" (click)="setActive('green')">
    <input type="radio">Verde
  </label>
  <label class="btn btn-theme" (click)="setActive('blue')">
    <input type="radio">Azul
  </label>
  <label class="btn btn-theme" (click)="setActive('brown')">
    <input type="radio">Marrom
  </label>
  <label class="btn btn-theme" (click)="setActive('red')">
    <input type="radio">Vermelho
  </label>
  <label class="btn btn-theme" (click)="setActive('pink')">
    <input type="radio">Pink
  </label>
</div>
