<main class="mobile mb-5 pb-5">
  <nav>
    <div [class.isActive]="tab == 'entrar'" (click)="setTab('entrar')">
      <span>Entrar</span>
    </div>
    <div [class.isActive]="tab == 'cadastrar'" (click)="setTab('cadastrar')">
      <span>Cadastrar</span>
    </div>
  </nav>
  <div class="my-3 form-signin">
    <div class="label-float hide">
      <input type="email" placeholder=" " />
      <label>Email</label>
    </div>
    <div class="label-float hide">
      <input type="password" placeholder=" " />
      <label>Senha</label>
    </div>
    <div class="label-float">
      <input type="email" [(ngModel)]="email" [class.invalid]="emailError" placeholder=" " />
      <label>Email</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="emailError">Email inválido</div>
    <div class="label-float">
      <input type="password" [(ngModel)]="password" [class.invalid]="passwordError" placeholder=" " />
      <label>Senha</label>
    </div>
    <div class="text-danger fade mt-1 text-right" [class.show]="passwordError">A senha deve possui 8 caracteres ou mais!</div>
    <div>
      <a routerLink="/perfil/resetar-senha" class="text-theme">Esqueceu a senha?</a>
    </div>
    <button type="button" class="btn btn-theme btn-block mt-5" (click)="signIn()"><i-log-in></i-log-in>Entrar</button>
    <div class="separator">
      ou
    </div>
    <button class="btn btn-block btn-outline-theme" (click)="googleLogin()">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="24px" height="24px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510; fill: currentColor;" xml:space="preserve">
      <g>
        <g id="glass">
          <path d="M286.875,229.5v63.75h150.45c-15.3,89.25-86.7,153-175.95,153c-104.55,0-191.25-86.7-191.25-191.25
            s86.7-191.25,191.25-191.25c53.55,0,99.45,22.95,132.6,58.65l45.9-45.9c-45.9-45.9-107.1-76.5-178.5-76.5
            c-140.25,0-255,114.75-255,255s114.75,255,255,255s242.25-114.75,242.25-255v-25.5H286.875z"/>
        </g>
      </g>
      </svg>
      Entrar com Google
    </button>
    <button class="btn btn-block btn-outline-theme" (click)="signOut()"><i-facebook></i-facebook>Entrar com Facebook</button>
  </div>

</main>
<div class="alert alert-danger fade login-error" [class.show]="loginError">
  <p class="m-0">{{msgError}}</p>
</div>