main {
  min-height: 1000vh;
}
.jumbotron {
  display: flex;
  border-radius: 0;
  border-bottom-left-radius: 4em;
  justify-content: space-evenly;
  background: var(--dark);
  padding-bottom: 1em;
  align-items: center;
}
.jumbotron img {
  align-self: flex-end;
  width: 30vw;
  height: 30vw;
}
.jumbotron div, .jumbotron div a {
  max-width: 60vw;
  text-align: center;
  color: var(--secondary);
}
.jumbotron div h1 {
  font-size: 2em;
}
.sticky-top {
  top: 1em;
}
.sign-out {
  margin: -6em 1em 0 70vw;
  outline: none;
  border-radius: 2em;
  background: var(--primary);
  color: var(--secondary);
  transition: 300ms;
}
.sign-out:hover,
.sign-out:focus {
  color: white;
  border: 1px solid white;
  transition: 300ms;
  box-shadow: none;
}
.sign-out i-user-x {
  height: 18px;
  width: 18px;
}
@media (max-width: 280px) {
  .sign-out {
    margin-top: -8em;
    font-size: 0.75em;
  }
  .sign-out i-user-x {
    height: 16px;
    width: 16px;
  }
}
@media (min-width: 600px) {
  .sign-out {
    margin: -5em 0 0 80vw;
    font-size: 1.25em;
  }
  .sign-out i-user-x {
    height: 24px;
    width: 24px;
  }
}