<main>
  <section class="jumbotron">
    <img src="{{user.avatar}}" *ngIf="user.avatar" class="rounded-circle" alt="Foto de Perfil do Usuário">
    <img src="assets/avatar.svg" *ngIf="!user.avatar" class="rounded-circle" alt="Foto de Perfil do Usuário">
    <div>
      <h4 *ngIf="user">{{user.name}}</h4>
      <a href="tel:+55{{user.phone}}" *ngIf="user">{{user.phone}}</a>
    </div>
  </section>
  <button class="sign-out btn sticky-top" (click)="signOut()">
    <i-user-x></i-user-x>
    <span class="ml-2">Sair</span>
  </button>
</main>