<main>
  <section class="jumbotron">
    <img src="assets/error.svg" class="rounded-circle" alt="Foto de Perfil do Usuário">
    <div>
      <h1>Nome De Usuário</h1>
      <a href="tel:+5551998446478">(51) 99844-6478</a>
      <div class="btn-toolbar btn-group-toggle btn-group" id="categorias">
        <label class="btn btn-outline-theme btn-outline-light" (click)="setActive('green')">
          <input type="radio">Verde
        </label>
        <label class="btn btn-outline-theme btn-outline-light" (click)="setActive('blue')">
          <input type="radio">Azul
        </label>
        <label class="btn btn-outline-theme btn-outline-light" (click)="setActive('brown')">
          <input type="radio">Marrom
        </label>
        <label class="btn btn-outline-theme btn-outline-light" (click)="setActive('red')">
          <input type="radio">Vermelho
        </label>
      </div>
    </div>
  </section>
</main>