<main>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <div class="mobile">
    <section class="jumbotron">
      <img src="{{store.logo}}" class="rounded-circle" alt="Logotipo da Empresa">
      <div class="logo-and-number">
        <h1>{{store.title}}</h1>
        <a href="tel:+55{{store.phone}}"><i-phone class="fill"></i-phone> {{store.phone}}</a>
      </div>
    </section>
    <section class="actions">
      <a class="btn btn-block btn-dark" [routerLink]="[ '/produtos' ]">
        <i-book-open></i-book-open>
        Ver produtos
      </a>
    </section>
    <section class="map" *ngIf="canLoad">
      <div class="card clean-card">
        <iframe [src]="map" frameborder="0"
        allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <a href="{{store.directions}}" target="_blank" class="card-action"><i-map></i-map>Como Chegar</a>
      </div>
    </section>
    <section class="social">
      <a href="{{store.fb}}" target="_blank"><i-facebook></i-facebook></a>
      <a href="{{store.insta}}" target="_blank"><i-instagram></i-instagram></a>
      <a href="{{store.whatsapp}}" target="_blank"><i-whatsapp></i-whatsapp></a>
    </section>
  </div>
  <div class="desktop row">
    <div class="actions col">
      <img src="{{store.logo}}" class="rounded-circle" alt="Logotipo da Empresa">
      <div class="logo-and-number">
        <h1>{{store.title}}</h1>
        <a href="tel:+5551998446478"><i-phone class="fill"></i-phone> (51) 99844-6478</a>
      </div>
      <a class="btn btn-block btn-dark mt-5" [routerLink]="[ '/produtos' ]">
        <i-book-open></i-book-open>
        Ver produtos
      </a>
      <section class="social">
        <a href="{{store.fb}}" target="_blank"><i-facebook></i-facebook></a>
        <a href="{{store.insta}}" target="_blank"><i-instagram></i-instagram></a>
        <a href="{{store.whatsapp}}" target="_blank"><i-whatsapp></i-whatsapp></a>
      </section>
    </div>
    <section class="map col" *ngIf="canLoad">
      <div class="card clean-card">
        <iframe [src]="map" frameborder="0"
        allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1728.2553552706645!2d-51.612164141892826
      !3d-29.964749495477786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951bc144e0420b7b%3A0xf76
      269ba228bc30f!2sN%C3%BAcleo%20F-49%2C%2059%20-%20Vila%20Acos%20Finos%20Piratini%2C%20Charqueadas%20-
      %20RS%2C%2096745-000!5e0!3m2!1sen!2sbr!4v1596135888316!5m2!1sen!2sbr" frameborder="0"
        allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
        <a href="{{store.directions}}" class="card-action" target="_blank"><i-map></i-map>Como Chegar</a>
      </div>
    </section>
  </div>
  <footer>
    <div class="card">
      <a href="https://www.produtos.app">Desenvolvido com <i-heart class="fill"></i-heart> por www.produtos.app</a>
    </div>
  </footer>
</main>